import { DEFAULT_LAYOUT } from '../base';
import { AppRouteRecordRaw } from '../types';

const $vue.moduleConst: AppRouteRecordRaw = {
  name: '$vue.moduleEntityFirstLower',
  path: '/$vue.module',
  component: DEFAULT_LAYOUT,
  children: [
    {
      name: '$vue.moduleEntityFirstLower$vue.featureEntity',
      path: '/$vue.module/$vue.feature',
      component: () => import('@/views/$vue.module/$vue.feature/index.vue'),
    },
  ],
};

export default $vue.moduleConst;
