<template>
  <div class="layout-container">
    <!-- 表格 -->
    <${vue.feature}-table ref="table"
                  @openAdd="() => modal.openAdd()"
                  @openUpdate="(e) => modal.openUpdate(e)" />
    <!-- 添加修改框 -->
    <${vue.feature}-form-modal ref="modal"
                       @added="() => table.addedCallback()"
                       @updated="() => table.updatedCallback()" />
  </div>
</template>

<script lang="ts">
  export default {
    name: '${vue.module}${vue.featureAllUpper}'
  };
</script>

<script lang="ts" setup>
  import ${vue.featureFirstUpper}Table from './components/${vue.feature}-table.vue';
  import ${vue.featureFirstUpper}FormModal from './components/${vue.feature}-form-modal.vue';
  import { ref } from 'vue';

  const table = ref();
  const modal = ref();

</script>

<style lang="less" scoped>

</style>
