import { TableColumnData } from '@arco-design/web-vue/es/table/interface';
import { formatMilliSecond, YMD_HMS } from '@/utils';

const columns = [
  {
    title: 'id',
    dataIndex: 'id',
    slotName: 'id',
    width: 70,
    align: 'left',
    fixed: 'left',
  }, #foreach($field in ${table.fields})#if("$!field.propertyName" != "id"){
    title: '${field.comment}',
    dataIndex: '${field.propertyName}',
    slotName: '${field.propertyName}',
    align: 'center',
    width: 100,
    #if(${field.propertyType} == 'String')
    ellipsis: true,
    tooltip: true,
    #end
  }, #end#end{
    title: '创建时间',
    dataIndex: 'createTime',
    slotName: 'createTime',
    render: ({ record }) => {
      return formatMilliSecond(record.createTime, YMD_HMS);
    },
  }, {
    title: '修改时间',
    dataIndex: 'updateTime',
    slotName: 'updateTime',
    render: ({ record }) => {
      return formatMilliSecond(record.createTime, YMD_HMS);
    },
  }, {
    title: '创建人',
    dataIndex: 'creator',
    slotName: 'creator',
  }, {
    title: '修改人',
    dataIndex: 'updater',
    slotName: 'updater',
  }, {
    title: '操作',
    slotName: 'handle',
    width: 130,
    align: 'center',
    fixed: 'right',
  },
] as TableColumnData[];

export default columns;
