${httpComment} ${apiComment.create}
POST {{baseUrl}}/${package.ModuleName}/${typeHyphen}/create
Content-Type: application/json
Authorization: {{token}}

{
#foreach($field in ${table.fields})
#if("$!field.propertyName" != "id")
  "${field.propertyName}": ""#if($foreach.hasNext),#end
#end
#end
}


${httpComment} ${apiComment.updateById}
PUT {{baseUrl}}/${package.ModuleName}/${typeHyphen}/update
Content-Type: application/json
Authorization: {{token}}

{
#foreach($field in ${table.fields})
  "${field.propertyName}": ""#if($foreach.hasNext),#end
#end
}


${httpComment} ${apiComment.getById}
GET {{baseUrl}}/${package.ModuleName}/${typeHyphen}/get?id=1
Authorization: {{token}}


${httpComment} ${apiComment.listByIdList}
GET {{baseUrl}}/${package.ModuleName}/${typeHyphen}/list?idList=1,2,3
Authorization: {{token}}


${httpComment} ${apiComment.listAll}
POST {{baseUrl}}/${package.ModuleName}/${typeHyphen}/list-all
Content-Type: application/json
Authorization: {{token}}

{
  #foreach($field in ${table.fields})
  "${field.propertyName}": ""#if($foreach.hasNext),#end
  #end
}


${httpComment} ${apiComment.queryPage}
POST {{baseUrl}}/${package.ModuleName}/${typeHyphen}/query
Content-Type: application/json
Authorization: {{token}}

{
  "page": 1,
  "limit": 10,
  #foreach($field in ${table.fields})
  "${field.propertyName}": ""#if($foreach.hasNext),#end
  #end
}


${httpComment} ${apiComment.deleteById}
DELETE {{baseUrl}}/${package.ModuleName}/${typeHyphen}/delete?id=1
Authorization: {{token}}


${httpComment} ${apiComment.batchDeleteByIdList}
DELETE {{baseUrl}}/${package.ModuleName}/${typeHyphen}/delete-batch?idList=1,2,3
Authorization: {{token}}


${httpComment} ${apiComment.export}
POST {{baseUrl}}/${package.ModuleName}/${typeHyphen}/export
Content-Type: application/json
Authorization: {{token}}

{
  #foreach($field in ${table.fields})
  "${field.propertyName}": ""#if($foreach.hasNext),#end
  #end
}


${httpComment}
