package ${package.ServiceImpl};

import com.alibaba.fastjson.JSON;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.orion.lang.define.wrapper.DataGrid;
import com.orion.lang.utils.collect.Lists;
import com.orion.ops.framework.common.constant.ErrorMessage;
import com.orion.ops.framework.common.utils.Valid;
#foreach($pkg in ${customFilePackages})
import ${pkg}.*;
#end
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

import javax.annotation.Resource;
import java.util.List;

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
@Slf4j
@Service
public class ${table.serviceImplName} implements ${table.serviceName} {

    @Resource
    private ${type}DAO ${typeLower}DAO;

    @Override
    public Long create${type}(${type}CreateRequest request) {
        // 转换
        ${type}DO record = ${type}Convert.MAPPER.to(request);
        record.setId(null);
        // 查询数据是否冲突
        this.check${type}Present(record);
        // 插入
        int effect = ${typeLower}DAO.insert(record);
        log.info("${type}Service-create${type} effect: {}, record: {}", effect, JSON.toJSONString(record));
        return record.getId();
    }

    @Override
    public Integer update${type}(${type}UpdateRequest request) {
        // 查询
        Long id = Valid.notNull(request.getId(), ErrorMessage.ID_MISSING);
        ${type}DO record = ${typeLower}DAO.selectById(id);
        Valid.notNull(record, ErrorMessage.DATA_ABSENT);
        // 转换
        ${type}DO updateRecord = ${type}Convert.MAPPER.to(request);
        // 查询数据是否冲突
        this.check${type}Present(updateRecord);
        // 更新
        int effect = ${typeLower}DAO.updateById(updateRecord);
        log.info("${type}Service-update${type} effect: {}, updateRecord: {}", effect, JSON.toJSONString(updateRecord));
        return effect;
    }

    @Override
    public ${type}VO get${type}(Long id) {
        // 查询
        ${type}DO record = ${typeLower}DAO.selectById(id);
        Valid.notNull(record, ErrorMessage.DATA_ABSENT);
        // 转换
        return ${type}Convert.MAPPER.to(record);
    }

    @Override
    public List<${type}VO> get${type}List(List<Long> idList) {
        // 查询
        List<${type}DO> records = ${typeLower}DAO.selectBatchIds(idList);
        if (records.isEmpty()) {
            return Lists.empty();
        }
        // 转换
        return ${type}Convert.MAPPER.to(records);
    }

    @Override
    public DataGrid<${type}VO> get${type}Page(${type}QueryRequest request) {
        // 构造条件
        LambdaQueryWrapper<${type}DO> wrapper = ${typeLower}DAO.wrapper()
        #foreach($field in ${table.fields})
                .eq(${type}DO::get${field.capitalName}, request.get${field.capitalName}())
        #end
                .orderByDesc(${type}DO::getId);
        // 查询
        return ${typeLower}DAO.of()
                .wrapper(wrapper)
                .page(request)
                .dataGrid(${type}Convert.MAPPER::to);
    }

    @Override
    public Integer delete${type}(Long id) {
        int effect = ${typeLower}DAO.deleteById(id);
        log.info("${type}Service-delete${type} id: {}, effect: {}", id, effect);
        return effect;
    }

    @Override
    public Integer batchDelete${type}(List<Long> idList) {
        int effect = ${typeLower}DAO.deleteBatchIds(idList);
        log.info("${type}Service-batchDelete${type} idList: {}, effect: {}", JSON.toJSONString(idList), effect);
        return effect;
    }

    /**
     * 检测对象是否存在
     *
     * @param domain domain
     */
    private void check${type}Present(${type}DO domain) {
        // 构造条件
        LambdaQueryWrapper<${type}DO> wrapper = ${typeLower}DAO.wrapper()
                // 更新时忽略当前记录
                .ne(${type}DO::getId, domain.getId())
                // 用其他字段做重复校验
                #foreach($field in ${table.fields})
                #if("$!field.propertyName" != "id")
                .eq(${type}DO::get${field.capitalName}, domain.get${field.capitalName}())#if(!$foreach.hasNext);#end
                #end
                #end
        // 检查是否存在
        boolean present = ${typeLower}DAO.of().wrapper(wrapper).present();
        Valid.isFalse(present, ErrorMessage.DATA_PRESENT);
    }

}
