-- 执行完成后 需要在菜单页面刷新缓存

-- 设置临时子菜单id
SELECT @TMP_PARENT_ID:=LAST_INSERT_ID();

-- 父菜单
INSERT INTO system_menu (parent_id, name, type, sort, visible, status, cache)
VALUES (0, '${vue.comment}管理', 1, 10, 1, 1, 1);

-- 子菜单
INSERT INTO system_menu (parent_id, name, type, sort, visible, status, cache, component)
VALUES (@TMP_PARENT_ID, '$vue.comment', 2, 10, 1, 1, 1, '$vue.module$vue.featureFirstUpper');

-- 设置临时子菜单id
SELECT @TMP_SUB_ID:=LAST_INSERT_ID();

-- 功能
INSERT INTO system_menu (parent_id, name, permission, type, sort)
VALUES (@TMP_SUB_ID, '创建$vue.comment', '${package.ModuleName}:${typeHyphen}:create', 3, 10);
INSERT INTO system_menu (parent_id, name, permission, type, sort)
VALUES (@TMP_SUB_ID, '修改$vue.comment', '${package.ModuleName}:${typeHyphen}:update', 3, 20);
INSERT INTO system_menu (parent_id, name, permission, type, sort)
VALUES (@TMP_SUB_ID, '查询$vue.comment', '${package.ModuleName}:${typeHyphen}:query', 3, 30);
INSERT INTO system_menu (parent_id, name, permission, type, sort)
VALUES (@TMP_SUB_ID, '删除$vue.comment', '${package.ModuleName}:${typeHyphen}:delete', 3, 40);
