package ${package.Service};

import com.orion.lang.define.wrapper.DataGrid;
#foreach($pkg in ${customModuleFilePackages})
import ${pkg}.*;
#end

import java.util.List;

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
public interface ${table.serviceName} {

    /**
     * ${apiComment.create}
     *
     * @param request request
     * @return id
     */
    Long create${type}(${type}CreateRequest request);

    /**
     * ${apiComment.updateById}
     *
     * @param request request
     * @return effect
     */
    Integer update${type}ById(${type}UpdateRequest request);

    /**
     * ${apiComment.getById}
     *
     * @param id id
     * @return row
     */
    ${type}VO get${type}ById(Long id);

    /**
     * ${apiComment.listByIdList}
     *
     * @param idList idList
     * @return rows
     */
    List<${type}VO> get${type}ByIdList(List<Long> idList);

    /**
     * ${apiComment.listAll}
     *
     * @param request request
     * @return rows
     */
    List<${type}VO> get${type}List(${type}QueryRequest request);

    /**
     * ${apiComment.queryCount}
     *
     * @param request request
     * @return count
     */
    Long get${type}Count(${type}QueryRequest request);

    /**
     * ${apiComment.queryPage}
     *
     * @param request request
     * @return rows
     */
    DataGrid<${type}VO> get${type}Page(${type}QueryRequest request);

    /**
     * ${apiComment.deleteById}
     *
     * @param id id
     * @return effect
     */
    Integer delete${type}ById(Long id);

    /**
     * ${apiComment.batchDeleteByIdList}
     *
     * @param idList idList
     * @return effect
     */
    Integer batchDelete${type}ByIdList(List<Long> idList);

    /**
     * ${apiComment.export}
     *
     * @param request  request
     * @param response response
     * @throws IOException IOException
     */
    void export${type}(${type}QueryRequest request, HttpServletResponse response) throws IOException;

}
