package ${currentPackage};

import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import java.io.Serializable;
import java.util.*;

/**
 * $!{table.comment} 更新请求对象
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Schema(name = "${type}UpdateRequest", description = "$!{table.comment} 更新请求对象")
public class ${type}UpdateRequest implements Serializable {
    #foreach($field in ${table.fields})

    #if("$field.propertyType" == "String")
    @NotBlank
    @Size(max = $field.metaInfo.length)
    #else
    @NotNull
    #end
    #if("$!field.comment" != "")
    @Schema(description = "${field.comment}")
    #end
    #if("$field.propertyType" == "Date")
    @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    #end
    private ${field.propertyType} ${field.propertyName};
    #end

}
