package ${currentPackage};

import ${package.Entity}.*;
#foreach($pkg in ${customModuleFilePackages})
import ${pkg}.*;
#end
#foreach($pkg in ${customProviderEntityFilePackages})
import ${pkg}.*;
#end
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

import java.util.List;

/**
 * $!{table.comment} 对外服务对象转换器
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
@Mapper
public interface ${type}ProviderConvert {

    ${type}ProviderConvert MAPPER = Mappers.getMapper(${type}ProviderConvert.class);

    ${type}DO to(${type}DTO dto);

    ${type}DTO to(${type}DO domain);

    ${type}DO to(${type}QueryDTO domain);

    ${type}CreateRequest to(${type}CreateDTO domain);

    ${type}UpdateRequest to(${type}UpdateDTO domain);

    List<${type}DTO> toList(List<${type}DO> list);

    List<${type}DO> toList1(List<${type}DTO> list);

}
