${httpComment} ${apiComment.create}
POST {{baseUrl}}/${package.ModuleName}/${typeHyphen}/create
Content-Type: application/json
Authorization: {{token}}

{
#foreach($field in ${table.fields})
#if("$!field.propertyName" != "id")
  "${field.propertyName}": ""#if($foreach.hasNext),#end
#end
#end
}


${httpComment} ${apiComment.update}
PUT {{baseUrl}}/${package.ModuleName}/${typeHyphen}/update
Content-Type: application/json
Authorization: {{token}}

{
#foreach($field in ${table.fields})
  "${field.propertyName}": ""#if($foreach.hasNext),#end
#end
}


${httpComment} ${apiComment.get}
GET {{baseUrl}}/${package.ModuleName}/${typeHyphen}/get?id=1
Authorization: {{token}}


${httpComment} ${apiComment.list}
GET {{baseUrl}}/${package.ModuleName}/${typeHyphen}/list?idList=1,2,3
Authorization: {{token}}


${httpComment} ${apiComment.query}
POST {{baseUrl}}/${package.ModuleName}/${typeHyphen}/query
Content-Type: application/json
Authorization: {{token}}

{
#foreach($field in ${table.fields})
  "${field.propertyName}": ""#if($foreach.hasNext),#end
#end
}


${httpComment} ${apiComment.delete}
DELETE {{baseUrl}}/${package.ModuleName}/${typeHyphen}/delete?id=1
Authorization: {{token}}


${httpComment} ${apiComment.batchDelete}
DELETE {{baseUrl}}/${package.ModuleName}/${typeHyphen}/delete-batch?idList=1,2,3
Authorization: {{token}}


${httpComment}


