package ${package.Service};

import com.orion.lang.define.wrapper.DataGrid;
#foreach($pkg in ${customFilePackages})
import ${pkg}.*;
#end

import java.util.List;

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
public interface ${table.serviceName} {

    /**
     * ${apiComment.create}
     *
     * @param request request
     * @return id
     */
    Long create${type}(${type}CreateRequest request);

    /**
     * ${apiComment.update}
     *
     * @param request request
     * @return effect
     */
    Integer update${type}(${type}UpdateRequest request);

    /**
     * ${apiComment.get}
     *
     * @param id id
     * @return row
     */
    ${type}VO get${type}(Long id);

    /**
     * ${apiComment.list}
     *
     * @param idList idList
     * @return rows
     */
    List<${type}VO> get${type}List(List<Long> idList);

    /**
     * ${apiComment.query}
     *
     * @param request request
     * @return rows
     */
    DataGrid<${type}VO> get${type}Page(${type}QueryRequest request);

    /**
     * ${apiComment.delete}
     *
     * @param id id
     * @return effect
     */
    Integer delete${type}(Long id);

    /**
     * ${apiComment.batchDelete}
     *
     * @param idList idList
     * @return effect
     */
    Integer batchDelete${type}(List<Long> idList);

}
