package ${currentPackage};

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${package.Entity}.*;
#foreach($pkg in ${customModuleFilePackages})
import ${pkg}.*;
#end
import java.util.List;

/**
 * $!{table.comment} 内部对象转换器
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
@Mapper
public interface ${type}Convert {
    
    ${type}Convert MAPPER = Mappers.getMapper(${type}Convert.class);

    ${type}DO to(${type}CreateRequest request);

    ${type}DO to(${type}UpdateRequest request);

    ${type}DO to(${type}QueryRequest request);

    ${type}VO to(${type}DO domain);

    List<${type}VO> to(List<${type}DO> list);

}
