package ${currentPackage};

import io.swagger.v3.oas.annotations.media.Schema;
import java.io.Serializable;
import lombok.*;

import java.util.*;

/**
 * $!{table.comment} 视图响应对象
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Schema(name = "${type}VO", description = "$!{table.comment} 视图响应对象")
public class ${type}VO implements Serializable {

    private static final long serialVersionUID = 1L;
    #foreach($field in ${table.fields})

    #if("$!field.comment" != "")
    @Schema(description = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};
    #end

    @Schema(description = "创建时间")
    private Date createTime;

    @Schema(description = "修改时间")
    private Date updateTime;

    @Schema(description = "创建人")
    private String creator;

    @Schema(description = "修改人")
    private String updater;

}
