<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orion.ops.module.infra.dao.SystemMenuDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.orion.ops.module.infra.entity.domain.SystemMenuDO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="deleted" property="deleted"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="visible" property="visible"/>
        <result column="status" property="status"/>
        <result column="cache" property="cache"/>
        <result column="icon" property="icon"/>
        <result column="path" property="path"/>
        <result column="component_name" property="componentName"/>
        <result column="component" property="component"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time, update_time, creator, updater, deleted, id, parent_id, name, permission, type, sort, visible, status, cache, icon, path, component_name, component
    </sql>

</mapper>
