<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>repos</id>
            <repositories>
                <!-- 阿里云 Maven 公共仓库 -->
                <repository>
                    <id>aliyun</id>
                    <name>Aliyun Repository</name>
                    <url>https://maven.aliyun.com/repository/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <!-- Maven 中央仓库 -->
                <repository>
                    <id>central</id>
                    <name>Maven Central Repository</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <!-- 激活 profile -->
    <activeProfiles>
        <activeProfile>repos</activeProfile>
    </activeProfiles>

</settings>