<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.visor.module.infra.dao.OperatorLogDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.dromara.visor.module.infra.entity.domain.OperatorLogDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="trace_id" property="traceId"/>
        <result column="address" property="address"/>
        <result column="location" property="location"/>
        <result column="user_agent" property="userAgent"/>
        <result column="risk_level" property="riskLevel"/>
        <result column="module" property="module"/>
        <result column="type" property="type"/>
        <result column="log_info" property="logInfo"/>
        <result column="extra" property="extra"/>
        <result column="result" property="result"/>
        <result column="error_message" property="errorMessage"/>
        <result column="return_value" property="returnValue"/>
        <result column="duration" property="duration"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="create_time" property="createTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 操作数量映射结果 -->
    <resultMap id="CountResultMap" type="org.dromara.visor.module.infra.entity.po.OperatorLogCountPO">
        <result column="operator_date" property="operatorDate"/>
        <result column="result" property="result"/>
        <result column="total_count" property="count"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, username, trace_id, address, location, user_agent, risk_level, module, type, log_info, extra, result, error_message, return_value, duration, start_time, end_time, create_time, deleted
    </sql>

    <select id="selectOperatorLogCount" resultMap="CountResultMap">
        SELECT DATE(create_time) operator_date, COUNT(1) total_count
        FROM operator_log
        WHERE deleted = 0
          AND user_id = #{userId}
          AND create_time BETWEEN #{startTime} AND #{endTime}
        GROUP BY operator_date
    </select>

</mapper>
