import type { FieldRule } from '@arco-design/web-vue';

const rules = {
#foreach($field in ${table.fields})
#if("$!field.propertyName" != "id")
  ${field.propertyName}: [{
    required: true,
    message: '请输入${field.comment}'
  }#if(${field.propertyType} == 'String' && "$field.metaInfo.jdbcType" != "LONGVARCHAR"), {
    maxLength: $field.metaInfo.length,
    message: '${field.comment}长度不能大于$field.metaInfo.length位'
  }#end],
#end
#end
} as Record<string, FieldRule | FieldRule[]>;

export default rules;
