<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.visor.module.asset.dao.HostDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.dromara.visor.module.asset.entity.domain.HostDO">
        <id column="id" property="id"/>
        <result column="types" property="types"/>
        <result column="os_type" property="osType"/>
        <result column="arch_type" property="archType"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="address" property="address"/>
        <result column="status" property="status"/>
        <result column="agent_key" property="agentKey"/>
        <result column="agent_version" property="agentVersion"/>
        <result column="agent_install_status" property="agentInstallStatus"/>
        <result column="agent_online_status" property="agentOnlineStatus"/>
        <result column="agent_online_change_time" property="agentOnlineChangeTime"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, types, os_type, arch_type, name, code, address, status, agent_key, agent_version, agent_install_status, agent_online_status, agent_online_change_time, description, create_time, update_time, creator, updater, deleted
    </sql>

</mapper>
