package ${currentPackage};

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import java.io.Serializable;
import java.util.*;
import java.math.*;

/**
 * $!{table.comment} 创建请求业务对象
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Schema(name = "${type}CreateDTO", description = "$!{table.comment} 创建请求业务对象")
public class ${type}CreateDTO implements Serializable {

    #foreach($field in ${table.fields})
    #if("$!field.propertyName" != "id")
    #if("$field.propertyType" == "String")
    @NotBlank
    #if("$field.metaInfo.jdbcType" != "LONGVARCHAR")
    @Size(max = $field.metaInfo.length)
    #end
    #else
    @NotNull
    #end
    #if("$!field.comment" != "")
    @Schema(description = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};

    #end
    #end
}
