package ${currentPackage};

import io.swagger.v3.oas.annotations.media.Schema;
import java.io.Serializable;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.util.*;

/**
 * $!{table.comment} 创建请求对象
 *
 * @author ${author}
 * @version 1.0.0
 * @since ${date}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Schema(name = "${type}CreateRequest", description = "$!{table.comment} 创建请求对象")
public class ${type}CreateRequest implements Serializable {

    #foreach($field in ${table.fields})
    #if("$!field.propertyName" != "id")
    #if("$!field.comment" != "")
    @Schema(description = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};

    #end
    #end
}
