package ${currentPackage};

import com.orion.lang.define.cache.key.CacheKeyBuilder;
import com.orion.lang.define.cache.key.CacheKeyDefine;
import com.orion.lang.define.cache.key.struct.RedisCacheStruct;
#foreach($pkg in ${customModuleFilePackages})
import ${pkg}.*;
#end

import java.util.concurrent.TimeUnit;

/**
 * $!{table.comment}缓存 key
 *
 * @author ${author}
 * @version ${since}
 * @since ${date}
 */
public interface ${type}CacheKeyDefine {

    CacheKeyDefine $typeConst = new CacheKeyBuilder()
            .key("$meta.cacheKey")
            .desc("$meta.cacheDesc")
            .type(${type}CacheDTO.class)
            .struct(RedisCacheStruct.HASH)
             #if($meta.cacheExpired)
            .timeout($meta.cacheExpireTime, TimeUnit.$meta.cacheExpireUnit.name())
             #end
            .build();

}
