package ${package.Controller};

import com.orion.lang.define.wrapper.DataGrid;
import com.orion.ops.framework.common.annotation.RestWrapper;
import ${package.Service}.*;
#foreach($pkg in ${customFilePackages})
import ${pkg}.*;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.List;

/**
 * $!{table.comment} api
 *
 * @author ${author}
 * @version 1.0.0
 * @since ${date}
 */
@Tag(name = "${package.ModuleName} - $!{table.comment}服务")
@Slf4j
@Validated
@RestWrapper
@RestController
@RequestMapping("/${package.ModuleName}/${typeHyphen}")
@SuppressWarnings({"ELValidationInJSP", "SpringElInspection"})
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Resource
    private ${type}Service ${typeLower}Service;

    @PostMapping("/create")
    @Operation(summary = "${apiComment.create}")
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:create')")
    public Long create${type}(@Validated @RequestBody ${type}CreateRequest request) {
        return ${typeLower}Service.create${type}(request);
    }

    @PutMapping("/update")
    @Operation(summary = "${apiComment.update}")
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:update')")
    public Integer update${type}(@Validated @RequestBody ${type}UpdateRequest request) {
        return ${typeLower}Service.update${type}(request);
    }

    @GetMapping("/get")
    @Operation(summary = "${apiComment.get}")
    @Parameter(name = "id", description = "id", required = true)
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:query')")
    public ${type}VO get${type}(@RequestParam("id") Long id) {
        return ${typeLower}Service.get${type}(id);
    }

    @GetMapping("/list")
    @Operation(summary = "${apiComment.list}")
    @Parameter(name = "idList", description = "idList", required = true)
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:query')")
    public List<${type}VO> get${type}List(@RequestParam("idList") List<Long> idList) {
        return ${typeLower}Service.get${type}List(idList);
    }

    @PostMapping("/query")
    @Operation(summary = "${apiComment.query}")
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:query')")
    public DataGrid<${type}VO> get${type}Page(@Validated @RequestBody ${type}QueryRequest request) {
        return ${typeLower}Service.get${type}Page(request);
    }

    @PutMapping("/delete")
    @Operation(summary = "${apiComment.delete}")
    @Parameter(name = "id", description = "id", required = true)
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:delete')")
    public Integer delete${type}(@RequestParam("id") Long id) {
        return ${typeLower}Service.delete${type}(id);
    }

    @PutMapping("/delete-batch")
    @Operation(summary = "${apiComment.batchDelete}")
    @Parameter(name = "idList", description = "idList", required = true)
    @PreAuthorize("@ss.hasPermission('${package.ModuleName}:${typeHyphen}:delete')")
    public Integer batchDelete${type}(@RequestParam("idList") List<Long> idList) {
        return ${typeLower}Service.batchDelete${type}(idList);
    }

}

