#foreach($enumEntity in ${vue.enums.entrySet()})
/**
 * $!{enumEntity.value.comment}
 */
export const $enumEntity.value.className = {
#foreach($enumEntityItem in $enumEntity.value.info.entrySet())
  $enumEntityItem.key: {
    #foreach($enumEntityItemFields in $enumEntityItem.value.entrySet())
    $enumEntityItemFields.key: '$!enumEntityItemFields.value',
    #end
  },
#end
}

#end