package ${currentPackage};

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${package.Entity}.*;
    #foreach($pkg in ${customFilePackages})
    import ${pkg}.*;
    #end
import java.util.List;

/**
 * $!{table.comment} 暴露服务转换器
 *
 * @author ${author}
 * @version 1.0.0
 * @since ${date}
 */
@Mapper
@SuppressWarnings("ALL")
public interface ${type}ProviderConvert {

        ${type}ProviderConvert MAPPER = Mappers.getMapper(${type}ProviderConvert.class);

        ${type}DO to(${type}DTO dto);

        ${type}DTO to(${type}DO dto);

    List<${type}DO> toDO(List<${type}DTO> list);

    List<${type}DTO> toDTO(List<${type}DO> list);

}
