[client]
# 客户端默认字符集
default_character_set=utf8mb4
[mysql]
# 默认字符集
default_character_set=utf8mb4
[mysqld]
# pid文件
pid-file=/var/run/mysqld/mysqld.pid
# sock文件
socket=/var/run/mysqld/mysqld.sock
# 数据目录
datadir=/var/lib/mysql
# 不区分大小 0区分 1不区分
lower_case_table_names=1 
# 服务器时区
default-time_zone='+8:00'
# 服务端字符集
character_set_server=utf8mb4
# 字符排序规则
collation_server=utf8mb4_general_ci
# 默认存储引擎
default-storage-engine=InnoDB 
# 禁止 DNS 解析
skip-name-resolve
