<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.visor.module.asset.dao.ExecJobDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.dromara.visor.module.asset.entity.domain.ExecJobDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="exec_seq" property="execSeq"/>
        <result column="expression" property="expression"/>
        <result column="timeout" property="timeout"/>
        <result column="script_exec" property="scriptExec"/>
        <result column="command" property="command"/>
        <result column="parameter_schema" property="parameterSchema"/>
        <result column="status" property="status"/>
        <result column="recent_log_id" property="recentLogId"/>
        <result column="exec_user_id" property="execUserId"/>
        <result column="exec_username" property="execUsername"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, exec_seq, expression, timeout, script_exec, command, parameter_schema, status, recent_log_id, exec_user_id, exec_username, create_time, update_time, creator, updater, deleted
    </sql>

    <update id="incrExecSeq">
        UPDATE exec_job
        SET exec_seq = exec_seq + 1
        WHERE id = #{id}
    </update>

</mapper>
